body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #cfe9ff, #e8f6ff);
    padding: 20px;
    text-align: center;
}

    .music-box {
        margin-bottom: 20px;
        padding: 15px;
        background: #e8f6ff;
        border-radius: 20px;
        border: 3px solid #b8daff;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }

    .cake-box::after {
        content: "";
        position: absolute;
        bottom: -18px;
        left: 50%;
        transform: translateX(-50%);
        width: 65%;
        height: 22px;
        background: #ffe6ef;
        border-radius: 50%;
        box-shadow: 0 3px 6px rgba(0,0,0,0.12);
    }
    
    .title {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 5px;
    }
     
    .subtitle {
        font-size: 16px;
        color: #555;
        margin-bottom: 20px;
    }
    
    .photos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }
    
    .photos img {
        width: 100%;
        border-radius: 12px;
    }
    
    .photo-center {
        display: flex;
        justify-content: center;
        margin: 15px 0;
    }
    
    .koruaca2 {
        width: 230px;
        border-radius: 12px;
    }

    .message {
        margin-top: 20px;
        font-size: 18px;
        line-height: 1.5;
    }
    
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    .message-box {
        margin-bottom: 20px;
        padding: 20px;
        background: #e8f6ff;
        border-radius: 40px;
        border: 3px solid #b8daff;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }